RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=A&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=B&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=C&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=D&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)/(.*?)-([0-9]+)-([0-9]+).(.*?)$ 					modules/seo/index.php?rewrite=E&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-([0-9]+)-([0-9]+).(.*?)$ 					modules/seo/index.php?rewrite=F&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-([0-9]+)-([0-9]+).(.*?)$ 					modules/seo/index.php?rewrite=G&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-(.*?)-([0-9]+)-([0-9]+).(.*?)$ 					modules/seo/index.php?rewrite=H&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=I&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)-([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=J&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)-(.*?)-([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=K&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-(.*?)-(.*?)-([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=L&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-([0-9]+)/(.*?)-([0-9]+)/(.*?)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=M&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-([0-9]+)/(.*?)-([0-9]+)/(.*?)-(.*?).(.*?)$ modules/seo/index.php?rewrite=N&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-([0-9]+)/(.*?)-(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=O&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/([0-9]+)-(.*?)-(.*?)-(.*?)-(.*?)-(.*?).(.*?)$ 						modules/seo/index.php?rewrite=P&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9 				[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=Q&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-(.*?)-(.*?).(.*?)$ 					modules/seo/index.php?rewrite=R&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 				modules/seo/index.php?rewrite=S&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 			modules/seo/index.php?rewrite=T&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&arg5=$7&arg6=$8&filetype=$9  			[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 							modules/seo/index.php?rewrite=U&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&filetype=$7  							[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/([0-9]+)-([0-9]+)-([0-9]+).(.*?)$ 									modules/seo/index.php?rewrite=V&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&filetype=$6  									[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-(.*?)-([0-9]+)-([0-9]+).(.*?)$ 								modules/seo/index.php?rewrite=W&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&arg4=$6&filetype=$7  							[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?)-([0-9]+)-([0-9]+).(.*?)$ 									modules/seo/index.php?rewrite=X&baseurl=$1&plot=$2&arg1=$3&arg2=$4&arg3=$5&filetype=$6  									[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/([0-9]+)-([0-9]+).(.*?)$ 											modules/seo/index.php?rewrite=Y&baseurl=$1&plot=$2&arg1=$3&arg2=$4&filetype=$5  											[L,NC,QSA]
RewriteRule ^(.*?)/(.*?)/(.*?).(.*?)$ 														modules/seo/index.php?rewrite=Z&baseurl=$1&plot=$2&arg1=$3&filetype=$4  													[L,NC,QSA]
